---
name: "Java + Maven"
"on":
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
jobs:
  build:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    timeout-minutes: 360
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"
    strategy:
      fail-fast: false
      matrix:
        language:
        - "java"
        java-version:
        - "25"
        distribution:
        - "graalvm"
    steps:
    - uses: "actions/checkout@v5"
    - uses: "graalvm/setup-graalvm@v1"
      with:
        java-version: "${{ matrix.java-version }}"
        distribution: "${{ matrix.distribution }}"
        github-token: "${{ secrets.GITHUB_TOKEN }}"
        cache: "maven"
    - name: "Initialize CodeQL"
      uses: "github/codeql-action/init@v3"
      with:
        languages: "${{ matrix.language }}"
    - name: "Set up Maven"
      uses: "stCarolas/setup-maven@v5"
      with:
        maven-version: "3.9.11"
    - run: "sudo apt-get install -y build-essential zlib1g-dev"
    - run: "mvn -s settings.xml spotless:check install"
    - run: "mvn -s settings.xml -Pnative package"
    - name: "Perform CodeQL Analysis"
      uses: "github/codeql-action/analyze@v3"
    - name: "Submit Dependency Snapshot"
      uses: "advanced-security/maven-dependency-submission-action@v5"
      with:
        token: "${{ secrets.GH_TOKEN }}"
        maven-args: "-s settings.xml"
